.main-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.about-container {
  background-color: black;
  width: 100vw;
  margin: auto;
  overflow-y: auto;
}

.question {
  background-color: #272822;
  width: 75%;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.question-header {
  color: #f8f8f2;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 15px;
  font-family: "Roboto";
}

.answer {
  color: #f8f8f2;
  font-size: 20px;
  line-height: 1.8;
  margin: 0 0 1em;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0.8;
}

.code {
  padding-left: 30px;
  padding-bottom: 5px;
}

a {
  color: #f8f8f2;
  font-size: 17px;
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  text-decoration: underline;
}
.obj-len {
  color: white;
  font-weight: normal;
  opacity: 0.6;
  font-size: 17px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 13px;
  width: 93px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #74254d;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: sans-serif;
}

button:hover {
  background-color: #4d1933;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 767px) {
  .main-container {
    height: 83vh;
  }

  .about-container {
    width: 100%;
  }

  .question {
    width: 95%;
  }
  .question-header {
    font-size: 18px;
  }
  .answer {
    font-size: 15px;
    padding-left: 0;
    margin-left: 0;
  }
  .ul {
    padding-left: 15px;
  }

  .obj-len {
    font-size: 14px;
  }

  .button {
    font-size: 10px;
  }
}
